<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}" />
</head>
<body>
  <th:block th:include="/_menu"></th:block>

  <div class="container">

    <form class="form-signin" action="/auth/registration" method="post">
      <h2 class="form-signin-heading">Регистрация</h2>
      <p>
        <label for="username">Логин</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="логин" required>
      </p>
      <p>
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="пароль" required>
      </p>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
    </form>

    <span th:if="${errorMessage != null}" th:text="${errorMessage}"></span>

    <div th:if="${param.error}" class="error-message">
      Неверный логин или пароль
    </div>

  </div>
</body>
</html>